@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body, html {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 14px;
    height: 100%;
    color: #60606e;
}
*{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-family: Montserrat-Bold, sans-serif;
}
.img-wrap{
    font-size: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.wrapper-inner {
    flex: 1 0 100%;
}
.main-btn{
    background: #7beec7;
    font-family: Montserrat-Bold, sans-serif;
    color: #ffffff;
    font-size: 14px;
    border-radius: 0;
    border: 2px solid #7beec7;
}
.main-btn:hover{
    background: #ffffff;
    color: #7beec7;
}
.main-btn--white{
    background: #ffffff;
    color: #7beec7;
    border: 2px solid #ffffff;
}
.main-btn--white:hover{
    background: #7beec7;
    color: #ffffff;
}


.header{
    background: #dbdbdb;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.header.scroll{
    position: fixed;
    top: 0;
    transition: top .5s;
    height: 60px;
}

.container-wrapper{
    max-width: 1300px;
    padding: 0 65px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.header-container{
    height: 100px;
    line-height: 100px;
}
.header-container.scroll{
    height: 60px;
    line-height: 60px;
}
.header__logo{
  line-height: inherit;
    margin: 0;
    font-size: 18px;
}
.header__logo-link{
    font-size: 18px;
    font-family: Montserrat-Bold, sans-serif;
    color: #60606e;
}

.header__logo-link:hover{
    color: #60606e;
}
.header__nav{
    height: 100%;
}
.nav__burger{
    font-size: 30px;
    cursor: pointer;
}
.header__menu{
    position: fixed;
    right: -150%;
    top: 70px;
    z-index: 1;
    transition: all .5s;
    background: #dbdbdb;
    width: 200px;
    padding: 25px
}
.header__menu.open{
    right: 0;
    transition: all .3s;

}
.menu__list{
    display: flex;
    flex-flow: column;
    line-height: normal;
}
.menu__item{
    margin: 5px 0;
}
.menu__link{
    color: #60606e;
}
.menu__link:hover{
    color: #60606e;
}


.page-banner{
    background: #dbdbdb;
    height: 500px;

    margin-bottom: 130px;
}
.page-banner.scroll{
    margin-top: 60px;
}
.page-banner__container{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 500px;

}

.breadcrumb {
    padding: 10px 15px;
}
.breadcrumb__list{
    background: transparent;
}
.breadcrumb-item,
.breadcrumb-item a,
.breadcrumb > .active,
.breadcrumb > li + li:before{
    color: #60606e;
}

.about,
.benefits{
    margin-bottom: 130px;
}
.about__title{
    position: relative;
    margin-bottom: 20px;
}
.about__title--underline:after{
    content: '';
    width: 67px;
    height: 5px;
    background: #7beec7;
    display: block;
    position: absolute;
    left: 0;
}
.about__sub-title{
    margin-bottom: 15px;
}
.about__text{
    font-family: OpenSans-Regular, sans-serif;
    line-height: 30px;
    color: #60606e;
    height: 210px;
    overflow: hidden;
}

.benefits__container{
    margin-bottom: 100px;
}
.benefits__title{
    display: inline-block;
}
.benefits__sub-title{
    margin: 0 auto;
    float: none;
    line-height: 24px;
    padding: 0;
    margin-bottom: 100px;
}
.benefits__list{
    display: flex;
    flex-flow: row wrap;
}
.benefits__item{
    margin-bottom: 55px;
}

.benefits__top{
    margin-bottom: 20px;
}
.benefits__ico{
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #7beec7;
    color: #ffffff;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 20px;
}


.team__item{
    margin-bottom: 30px;
    height: 335px;
}
.team__img{
    width: 100%;
}
.bar__container{
    padding: 0 30px;
}
.bar{
    height: 140px;
    line-height: 140px;
    margin-bottom: 140px;
}
.bar__text{
    font-family: OpenSans-Italic, sans-serif;
    font-size: 18px;
}
.bar__btn{
    width: 165px;
    height: 50px;
    padding: 14px 36px;
}

.clients__img{
    max-height: 82px;
}
.clients__text{
    font-family: OpenSans-Regular, sans-serif;
    line-height: 30px;
}
.clients__btn{
    padding: 5px 10px;
}

.reviews__item{
    height: 100px;
    line-height: 100px;
    margin-bottom: 30px;
}
.reviews__img-wrap{
    border: 1px solid #d9d9d9;
}

.newsletter{
    background: #7beec7;
    padding: 50px 0;
    margin-bottom: 50px;
}

.newsletter__contact .newsletter__title{
    line-height: 48px;
    margin-bottom: 30px;
    margin-top: -12px;
    color: #ffffff;
}
.newsletter__form{
    padding: 10px 20px 20px 20px;
    background: #ffffff;
}
.newsletter__form .newsletter__title{
    line-height: 36px;
    margin-bottom: 20px;
}
.newsletter__text{
    font-family: OpenSans-Regular, sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
}
.newsletter__form .form{
    display: flex;
    flex-flow: row;
}

.form__input{
    padding: 13px 15px;
    flex: 1 0 auto;
    border: 1px solid #999999;
    border-right: 0;
}
.form__btn{
    width: 135px;
    height: 50px;
}
.footer{
    margin-bottom: 50px;
}
.footer__item{
    position: relative;
}
.footer__item:after{
    content: '';
    width: 3px;
    height: 2px;
    background: #60606e;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
}
.footer__item:last-child:after{
    display: none;
}

.footer__item:first-child .footer__link{
    padding-left: 0;
}

.footer__link{
     color: #60606e;
}
.footer__link:hover{
    color: #60606e;
    text-decoration: underline ;
}
.copyright__text{
    padding-top: 15px;
}

.socials__link{
    color: #60606e;
    font-size: 18px;
    padding: 0 0 0 15px !important;
}
.socials__link:hover{
    color: #60606e;
}
.socials__ico{

}

@media screen and (max-width: 1300px){
    .container-wrapper {
        padding: 0 25px;
    }
}

@media screen and (max-width: 1200px){
    .header{
        height: 60px;
    }
    .header-container {
        height: 60px;
        line-height: 60px;
    }
    .header__menu{
        top: 60px;
    }
    .team__item {
        height: 360px;
    }
    .clients{
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 1024px){
    h1 {
        font-size: 30px
    }
    h2 {
        font-size: 24px
    }
    h3 {
        font-size: 18px
    }
    h4 {
        font-size: 14px
    }
    h5 {
        font-size: 12px
    }
    h6 {
        font-size: 10px
    }
    .bar {
        height: auto;
        line-height: normal;
        margin-bottom: 20px;
    }
    .bar__text{
        padding: 6px 0;
    }

}
@media screen and (max-width: 992px){
    .page-banner,
    .page-banner__container{
        height: 350px;
    }
    .page-banner,
    .about,
    .benefits,
    .team,
    .bar,
    .benefits__container{
        margin-bottom: 40px;
    }
    .team__item {
        height: 420px;
    }
    .newsletter__contact{
        margin-bottom: 20px;
    }
    .footer__copyright{
        text-align: left;
    }

}
@media screen and (max-width: 768px){
    .benefits__sub-title{
        margin-bottom: 40px;
    }
    .team__item {
        height: auto;
    }
    .bar__text{
        width: 100%;
    }
    .bar__btn-wrap{
        width: 100%;
    }
    .bar__btn {
        width: 140px;
        height: 40px;
        padding: 10px 0;
    }
    .footer__item:first-child .footer__link {
        padding-left: 15px;
    }
    .footer__item:after{
        display: none;
    }
    .socials__item {
        float: left;
    }

}
@media screen and (max-width: 560px){
    .header__menu.open{
        right: 0;
    }
    .page-banner, .page-banner__container {
        height: 200px;
    }
    .bar__text{
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 475px){

    h1 {
        font-size: 26px
    }
    h2 {
        font-size: 20px
    }
    h3 {
        font-size: 14px
    }
    h4 {
        font-size: 12px
    }
    h5 {
        font-size: 10px
    }
    h6 {
        font-size: 8px
    }

    .benefits__top .benefits__ico{
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    .benefits__top .benefits__title{
        margin-left: 0;
        width: 100% ;
    }

    .clients{
        margin-bottom: 20px;
    }
    .reviews__item{
        width: 100%;
    }

    .bar__btn-wrap{
        text-align: center;
    }
    .newsletter__contact .newsletter__title {
        line-height: 35px;
    }
    .newsletter__form .newsletter__title {
        line-height: 26px;
    }
    .form__btn {
        height: 35px;
    }
    .form__input {
        padding: 5px 10px;
    }

}
@media screen and (max-width: 375px){
    .benefits__title,
    .benefits__sub-title{
        text-align: left;
        margin-left:  15px;
    }
}

